<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="description" content="This page visualizes some of the bike data for easier digestion by users.">
        <meta name="author" content="Blake Sutton">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>Bike Data Visualizations</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap.css" rel="stylesheet">
    </head>
        
    <body>
        <div class="container">
            <header class="d-flex justify-content-center py-3 bg-dark bg-gradient text-white">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="main" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="visual" class="nav-link active">Visualizations</a></li>
                    <li class="nav-item"><a href="login" class="nav-link">Logout</a></li>
                </ul>
            </header>
        </div>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Data Visualizations</h1>
                <p class="d-flex justify-content-center"><h2>Sales Over Time</h2></p>
                <img class="d-flex justify-content-center img-responsive" src="../images/sales_over_time.png" alt="Sales Over Time Graph">
                <p class="d-flex justify-content-center"><h2>Relationship Between Bike Rentals and Temperature</h2></p>
                <img class="d-flex justify-content-center img-responsive" src="../images/sales_and_temp.png" alt="Sales Over Time Graph">
                <p class="d-flex justify-content-center"><h2>Relationship Between Bike Rentals and Precipitation</h2></p>
                <img class="d-flex justify-content-center img-responsive" src="../images/sales_and_precip.png" alt="Sales Over Time Graph">
                <p class="d-flex justify-content-center"><h2>Relationship Between Bike Rentals and Humidity</h2></p>
                <img class="d-flex justify-content-center img-responsive" src="../images/sales_and_humid.png" alt="Sales Over Time Graph">
                <p class="d-flex justify-content-center"><h2>First 30 Lines of the Bike Data</h2></p>
                <div style="width: 50%; margin-left: 25%; margin-top: 58px;">
                    {{ bike_head|safe }}
                </div>
            </div>
        </div>

        <footer> <!--footer of the body-->

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>